{% extends "layout/default.html" %}
{% block title %}Assignments{% endblock %}
{% block content %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#types">Types</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#numbers">Numbers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#strings">Strings</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="bg-secondary text-white">
      <div class="container text-center">
        <h1>Assignment 1</h1>
        <p class="lead">Learn Python!</p>
      </div>
    </header>

    <section id="types">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Variables and Types</h2>
            <p>
                Variables in python are assigned by the equal sign '=' x=1, y='abc' z = True
                Python automatically assumes type, meaning it knows x is an int, y is a string and z is a boolean
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="numbers" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Numbers</h2>
            <p>
                Now, what do those types mean?
                these are default python types that python can operate on; others include float, Decimal...
                the int type are whole numbers and have the operatiors +(addition) -(subtraction) *(multiplication) /(division)
                an example:
            </p>
              <p class="bg-white">
                >>> 2 + 2<br>
                4<br>
                >>> 50 - 5*6<br>
                20<br>
                >>> (50 - 5*6) / 4<br>
                5.0<br>
                >>> 8 / 5  # division always returns a floating point number<br>
                1.6<br>
            </p>
            <p>
                The integer numbers (2,4,20) have type int, the ones with a decimal (5.0,1.6) have type float.
                division always returns a float, to get floor division use the operator // and for remainder %
            </p>
            <p class="bg-white">
                >>> width = 20<br>
                >>> height = 5 * 9<br>
                >>> width * height<br>
                900
            </p>
            <p>
                See how variables are used? varialbes can be set to almost any name excluding some python operators
                like 'for' or 'in'.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="strings">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Strings</h2>
            <p >
                Python can also manipulate strings. Strings are words or sets of characters surrondded by "" or ''
                Heres and example:
            </p>
            <p class="bg-light">
                >>> 'spam eggs'  # single quotes<br>
                'spam eggs'<br>
                >>> 'doesn\'t'  # use \' to escape the single quote...<br>
                "doesn't"<br>
                >>> "doesn't"  # ...or use double quotes instead<br>
                "doesn't"<br>
                >>> '"Yes," he said.'<br>
                '"Yes," he said.'<br>
                >>> "\"Yes,\" he said."<br>
                '"Yes," he said.'<br>
                >>> '"Isn\'t," she said.'<br>
                '"Isn\'t," she said.'<br>
            </p>
            <p>
                Strings can be concatonated together with the + operator and repeated with *
            </p>
            <p class="bg-light">
                >>> 'hi' + ' ' + 'there'<br>
                hi there<br>
                >>> 2*'yo'<br>
                yoyo<br>
            </p>
            <p>
                Since strings can be looked at as a list of characters, they can be indexed, with the first character having
                an index of 0. In python there is no type for character, they are just strings with size one.
            </p>
            <p class="bg-light">
                >>> word = 'Python'<br>
                >>> word[0]  # character in position 0<br>
                'P'<br>
                >>> word[5]  # character in position 5<br>
                'n'<br>
            </p>
            <p>
                Indices may also be negative numbers, to start counting from the right:
            </p>
            <p class="bg-light">
                >>> word[-1]  # last character<br>
                'n'<br>
                >>> word[-2]  # second-last character<br>
                'o'<br>
                >>> word[-6]<br>
                'P'<br>
            </p>
            <p>
                Attempting to use an index that is too large will result in an error:
            </p>
            <p class="bg-light">
                >>> word[42]  # the word only has 6 characters<br>
                Traceback (most recent call last):<br>
                File "stdin", line 1, in module<br>
                IndexError: string index out of range<br>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="games">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Start Game!</h2>
          </div>
        </div>
      </div>
    </section>
    <p class="question">1. What is the answer to this question?</p>

    <ul class="answers">
    <input type="radio" name="q1" value="a" id="q1a"><label for="q1a">Answer 1</label><br/>
    <input type="radio" name="q1" value="b" id="q1b"><label for="q1b">Answer 2</label><br/>
    <input type="radio" name="q1" value="c" id="q1c"><label for="q1c">Answer 3</label><br/>
    <input type="radio" name="q1" value="d" id="q1d"><label for="q1d">Answer 4</label><br/>
    </ul>


    <p class="question">2. What is the answer to this question?</p>

    <ul class="answers">
    <input type="radio" name="q2" value="a" id="q2a"><label for="q2a">Answer 1</label><br/>
    <input type="radio" name="q2" value="b" id="q2b"><label for="q2b">Answer 2</label><br/>
    <input type="radio" name="q2" value="c" id="q2c"><label for="q2c">Answer 3</label><br/>
    <input type="radio" name="q2" value="d" id="q2d"><label for="q2d">Answer 4</label><br/>
    </ul>

    <p class="question">3. What is the answer to this question?</p>

    <ul class="answers">
    <input type="radio" name="q3" value="a" id="q3a"><label for="q3a">Answer 1</label><br/>
    <input type="radio" name="q3" value="b" id="q3b"><label for="q3b">Answer 2</label><br/>
    <input type="radio" name="q3" value="c" id="q3c"><label for="q3c">Answer 3</label><br/>
    <input type="radio" name="q3" value="d" id="q3d"><label for="q3d">Answer 4</label><br/>
    </ul>

    <p class="question">4. What is the answer to this question?</p>

    <ul class="answers">
    <input type="radio" name="q4" value="a" id="q4a"><label for="q4a">Answer 1</label><br/>
    <input type="radio" name="q4" value="b" id="q4b"><label for="q4b">Answer 2</label><br/>
    <input type="radio" name="q4" value="c" id="q4c"><label for="q4c">Answer 3</label><br/>
    <input type="radio" name="q4" value="d" id="q4d"><label for="q4d">Answer 4</label><br/>
    </ul>

    <p class="question">5. What is the answer to this question?</p>

    <ul class="answers">
    <input type="radio" name="q5" value="a" id="q5a"><label for="q5a">Answer 1</label><br/>
    <input type="radio" name="q5" value="b" id="q5b"><label for="q5b">Answer 2</label><br/>
    <input type="radio" name="q5" value="c" id="q5c"><label for="q5c">Answer 3</label><br/>
    <input type="radio" name="q5" value="d" id="q5d"><label for="q5d">Answer 4</label><br/>
    </ul>

    <p class="question">6. What is the answer to this question?</p>

    <ul class="answers">
    <input type="radio" name="q6" value="a" id="q6a"><label for="q6a">Answer 1</label><br/>
    <input type="radio" name="q6" value="b" id="q6b"><label for="q6b">Answer 2</label><br/>
    <input type="radio" name="q6" value="c" id="q6c"><label for="q6c">Answer 3</label><br/>
    <input type="radio" name="q6" value="d" id="q6d"><label for="q6d">Answer 4</label><br/>
    </ul>

    <p class="question">7. What is the answer to this question?</p>

    <ul class="answers">
    <input type="radio" name="q7" value="a" id="q7a"><label for="q7a">Answer 1</label><br/>
    <input type="radio" name="q7" value="b" id="q7b"><label for="q7b">Answer 2</label><br/>
    <input type="radio" name="q7" value="c" id="q7c"><label for="q7c">Answer 3</label><br/>
    <input type="radio" name="q7" value="d" id="q7d"><label for="q7d">Answer 4</label><br/>
    </ul>

    <p class="question">8. What is the answer to this question?</p>

    <ul class="answers">
    <input type="radio" name="q8" value="a" id="q8a"><label for="q8a">Answer 1</label><br/>
    <input type="radio" name="q8" value="b" id="q8b"><label for="q8b">Answer 2</label><br/>
    <input type="radio" name="q8" value="c" id="q8c"><label for="q8c">Answer 3</label><br/>
    <input type="radio" name="q8" value="d" id="q8d"><label for="q8d">Answer 4</label><br/>
    </ul>

<p class="question">9. What is the answer to this question?</p>

<ul class="answers">
<input type="radio" name="q9" value="a" id="q9a"><label for="q9a">Answer 1</label><br/>
<input type="radio" name="q9" value="b" id="q9b"><label for="q9b">Answer 2</label><br/>
<input type="radio" name="q9" value="c" id="q9c"><label for="q9c">Answer 3</label><br/>
<input type="radio" name="q9" value="d" id="q9d"><label for="q9d">Answer 4</label><br/>
</ul>

<p class="question">10. What is the answer to this question?</p>

<ul class="answers">
<input type="radio" name="q10" value="a" id="q10a"><label for="q10a">Answer 1</label><br/>
<input type="radio" name="q10" value="b" id="q10b"><label for="q10b">Answer 2</label><br/>
<input type="radio" name="q10" value="c" id="q10c"><label for="q10c">Answer 3</label><br/>
<input type="radio" name="q10" value="d" id="q10d"><label for="q10d">Answer 4</label><br/>
</ul>

<br/>
<div id="results">
Show me the answers!
</div>

<div id="category1">
<p>
<strong>Question 1:</strong> The correct answer is the <strong>Answer 1</strong>.</p>
</div>

<div id="category2">
<p>
<strong>Question 2:</strong> The correct answer is <strong>Answer 2</strong>.</p>
</div>

<div id="category3">
<p>
<strong>Question 3:</strong> The correct answer is <strong>Answer 3</strong>.</p>
</div>

<div id="category4">
<p>
<strong>Question 4:</strong> The correct answer is <strong>Answer 4</strong>.</p>
</div>

<div id="category5">
<p>
<strong>Question 5:</strong> The correct answer is <strong>Answer 1</strong>.</p>
</div>

<div id="category6">
<p>
<strong>Question 6:</strong> The correct answer is <strong>Answer 2</strong>.</p>
</div>

<div id="category7">
<p>
<strong>Question 7:</strong> The correct answer is <strong>Answer 3</strong>.</p>
</div>

<div id="category8">
<p>
<strong>Question 8:</strong> The correct answer is <strong>Answer 4</strong>.</p>
</div>

<div id="category9">
<p>
<strong>Question 9:</strong> The correct answer is <strong>Answer 1</strong>.</p>
</div>

<div id="category10">
<p>
<strong>Question 10:</strong> The correct answer is <strong>Answer 2</strong>.</p>
</div>
    <div id = <"results"></div>
    <br>



    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; CGames 2018</p>
      </div>
      <!-- /.container -->
    </footer>



{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" integrity="sha256-H3cjtrm/ztDeuhCN9I4yh4iN2Ybx/y1RM7rMmAesA0k=" crossorigin="anonymous"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{{ url_for('static', filename='js/assignments/quiz-1.js') }}"></script>
    <script>
        var cat1 = ($("input[@name=q1]:checked").val() != "a");

        var cat2 = ($("input[@name=q2]:checked").val() != "b");
    </script>
    <script src="{{ url_for('static', filename='js/assignments/jquery.js') }}"></script>
{% endblock %}





