{% extends "layout/lesson.html" %}
{% import "layout/utils.html" as utils %}
{% block title %}Lesson 2{% endblock %}
{% block lesson_title %}Lesson 2{% endblock %}
{% block sections %}
    {% call section('types', 'Lists') %}
        <h2>Lists</h2>
        <p>
            In python, we use lists to store multiple elements. In general,
            all elements in the lists must be of the same type. For syntax,
            we use brackets: <code>[</code> and <code>]</code> for lists.
            For example, take a look at this list declaration

            {% call utils.code('python') %}
                myList = ['python', 'java', 'c sharp', 'ruby', 'perl']
            {% endcall %}

            This list, which I've decided to call myList, is a list of five
            strings. Notice that I don't have to write (and cannot write)
            {% call utils.code('python') %}
                list myList = ['python', 'java', 'c sharp', 'ruby', 'perl']
            {% endcall %}

            As you can see, my list has 5 elements. I can call len on myList
            to get the size of the list I've created. In this case
            <code>len(myList) == 5.</code>
        </p>

        <p>
            Now let's say I want to add <code>'kuda'</code> to myList.
            To do this, I use the <code>append()</code> function, like this:

            {% call utils.code('python') %}
                myList.append('kuda')
            {% endcall %}

            and the result is:

            {% call utils.code('python') %}
                ['python', 'java', 'c sharp', 'ruby', 'perl', 'kuda']
            {% endcall %}
        </p>

        <p>
            But, let's say I want 'kuda' at the beginning of my list.
            To do this, <code>append()</code> won't help me. Instead, I'll
            have to use the <code>insert()</code> method. <code>insert()</code>
            takes two arguments: the index where you want the new element to go
            and the element you want to add. Watch!

            {% call utils.code('python') %}
                myList.insert(0, 'kuda')
            {% endcall %}

            This tells Python to add <code>'kuda'</code> to <code>myList</code>
            at index <code>0</code>. The result is instead:

            {% call utils.code('python') %}
                ['kuda', 'python', 'java', 'c sharp', 'ruby', 'perl']
            {% endcall %}

            <code>'kuda'</code> is at index <code>0</code>, and all other
            elements have been moved to the right (i.e., the index of every
            other element has been increased by <code>1</code>).
        </p>
        <p>
            Notice that I don't have to tell Python to make <code>myList</code>
            bigger to make room to add <code>'kuda'</code>. It knows to do this
            and takes care of it automatically.

        </p>

        <p>
            If I want to remove an element, I use the function
            <code>remove()</code>. <code>remove()</code> takes one argument:
            the element that you want to remove of the list. So, if I want to
            remove <code>'java'</code>, I'd write:

            {% call utils.code('python') %}
                myList.remove('java')
            {% endcall %}

            Then, if I call <code>print(myList)</code>, this would print to
            the console:

            {% call utils.code('python') %}
                ['kuda', 'C++', 'python', 'ruby', 'perl']
            {% endcall %}
        </p>

        <p>
            Another handy function is the <code>sort()</code> function.
            If I call <code>myList.sort()</code>, this will sort the elements
            of <code>myList</code> in alphabetical order. In similar fashion,
            <code>reverse()</code> can be used to reverse a list. Check it out:

            {% call utils.code('python') %}
                >>> myList.sort()
                >>> print(myList)
                ['c sharp', 'java', 'perl', 'python', 'ruby']

                >>> myList.reverse()
                >>> print(myList)
                ['ruby', 'python', 'perl', 'java', 'c sharp']
            {% endcall %}
        </p>
    {% endcall %}

    {% call section('ifs', 'If statements') %}
        <h2>If Statements</h2>
        <p>
            In Python, there are times when we only want certain code to
            execute only some of the time. To control when code runs, we can
            use <code>if</code> statements. Let's look at some code to see
            how these work!

            {% call utils.code('python') %}
                >>> myList = ['bills', 'dolphins', 'jets', 'patriots']
                >>> if len(myList) == 4:
                ...     print('This list has four elements.')
                ... else:
                ...     print('Hello, world')
                This list has four elements.
            {% endcall %}
        </p>

        <p>
            So, why does the third line run, but not the fifth line?
            Well, the first <code>if</code> statement evaluates to
            <code>True</code>, since <code>myList</code> <em>does</em>
            have a length of <code>4</code>. Then, Python skips the
            <code>else</code>, since it only runs if the previous
            <code>if</code> statement evaluates to <code>False</code>.
        </p>

        <p>
            Let's look at another example:

            {% call utils.code('python') %}
                >>> myList = ['bills', 'dolphins', 'jets', 'patriots']
                >>> if myList[3] == 'bills':
                ...     print('bills are last')
                ... elif myList[3] == 'dolphins':
                ...     print('dolphins are last')
                ... elif myList[3] == 'jets':
                ...     print('jets are last')
                ... else:
                ...     print('patriots are last')
                patriots are last
            {% endcall %}

            Why? This time, all of the <code>if</code> statements evaulate
            to <code>False</code>. So, none of the code in the <code>if</code>
            statements are executed. Instead, the <code>else</code> statement
            is executed.
        </p>
    {% endcall %}

    {% call section('fors', 'For loops') %}
        <h2>For Loops</h2>
        <p>
            Sometimes we want to iterate over, or read each element in a list.
            To accomplish that, we use a "for loop", like this:

            {% call utils.code('python') %}
                >>> myList = ['python', 'java', 'c sharp', 'ruby', 'perl']
                >>> for s in myList:
                ...     print(s)
                python
                java
                c sharp
                ruby
                perl
            {% endcall %}

            Here, the elements of <code>myList</code> get printed out, one at a time.
        </p>
    {% endcall %}

    {% call section('quiz', 'Quiz') %}
        <h2>Start Game!</h2>

        <section id="games">
            <!-- When pressed, gameContainer will be reviled and timmer will start -->
            <button onclick="showDiv()" id="startButton">start</button>

            <div id="gameContainer">
                <div>
                    Time: <span id="timerDisplay">0</span>s
                </div>

                <div class="container">
                    <!-- Print the question you're on -->
                    <p id="questionNumber"></p>

                    <div id="question0">
                        <p>If you have a list in Python:</p>
                        {% call utils.code('python') %}
                            >>> l = ['Cory', 'Ben', 'Matt', 'Sai']
                            >>> print(l[1], l[0], l[3], l[2])
                        {% endcall %}
                        <p>What is the order of names printed?</p>
                    </div>

                    <div id="question1">
                        <p>Given this code, what gets printed?</p>
                        {% call utils.code('python') %}
                            >>> l = ['Yankees', 'Red Sox', 'Orioles', 'Blue Jays']
                            >>> l.sort()
                            >>> l.reverse()
                            >>> print(l)
                        {% endcall %}
                    </div>

                    <div id="question2">
                        <p>
                            Unscramble this line of code. The result should finish
                            a program to guess the user’s age.
                        </p>
                        {% call utils.code('python') %}
                            >>> age = 22
                            >>> print('Guess my age!')
                            >>> guess = int(input('Guess: '))
                            >>> # Your code goes here
                            ...     print('Good job!')
                        {% endcall %}

                        <p>Put these in order to create correct code.</p>
                    </div>

                    <div id="question3">
                        {% call utils.code('python') %}
                            >>> l = ['red', 'green', 'blue']
                            >>> l.append('orange')
                            >>> l.append('yellow')
                            >>> l.remove('green')
                            >>> print(l)
                        {% endcall %}

                        <p>What is printed?</p>
                    </div>

                    <div id="question4">
                        <p>
                            Unscramble the line to store the length of <code>l</code> into
                            the variable <code>length</code>.

                            {% call utils.code('python') %}
                                >>> list = ['salt', 'pepper', 'ketchup']
                                >>> # Your code goes here
                            {% endcall %}
                        </p>
                    </div>

                    <div id="question5">
                        {% call utils.code('python') %}
                            >>> for i in range(1, 3):
                            >>>   for j in range(1, 3):
                            ...     print(i, ',', j)
                        {% endcall %}
                        <p>What is printed?</p>
                    </div>

                    <div id="move">
                        <section class="drag-vehicle">
                            <ul class="carts">
                                <li>
                                    <img id="train" alt="train head" src="{{ url_for('static', filename='img/temp1.jpg')}}">
                                </li>
                                <li>
                                    <img id="train1" alt="train body" src="{{ url_for('static', filename='img/temp2.jpg')}}">
                                </li>
                                <li>
                                    <img id="train2" alt="train body" src="{{ url_for('static', filename='img/temp3.jpg')}}">
                                </li>
                                <li>
                                    <img id="train3" alt="train tail" src="{{ url_for('static', filename='img/temp4.jpg')}}">
                                </li>
                            </ul>
                        </section>

                        <div class="drop-boxs">
                            <section class="drop-zone1"></section>
                            <section class="drop-zone2"></section>
                            <section class="drop-zone3"></section>
                            <section class="drop-zone4"></section>
                        </div>
                    </div>
                </div>

                <!-- reset question button -->
                <button onclick="reset()" id="resetButton">reset</button>

                <!-- next question button -->
                <button onclick="next()" id="nextButton">next</button>

                <!-- print for score and time -->
                <p id="score"></p>
                <p id="compare"></p>
            </div>
        </section>
    {% endcall %}
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script src="{{ url_for('static', filename='js/assignments/dragNdrop.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style2.css') }}">
{% endblock %}
