{% extends "layout/lesson.html" %}
{% import "layout/utils.html" as utils %}
{% block title %}Lesson 1{% endblock %}
{% block lesson_title %}Lesson 1{% endblock %}
{% block sections %}
    {% call section('types', 'Lists') %}
        <h2>Lists</h2>
        <p>
            In python, we use lists to store multiple elements. In general, all elements in the lists must be of the same type.
            For syntax, we use brackets, <code>[</code> and <code>]</code>  for lists.
For example, take a look at this list declaration

            {% call utils.code('python') %}
            myList = ["python", "java","c sharp", "ruby", "perl"]
            {% endcall %}

            This list, which I've decided to call myList, is a list of five strings.
            Notice that I don't have to write (and should not write)
            <code>list myList = ['python', 'java','c sharp', 'ruby', 'perl']</code><br>
            As you can see, my list has 5 elements. I can call len on myList to get the size of the
            list I've created. In this case <code>len(myList) == 5.</code><br><br>
            Now let's say I want to add 'kuda' to myList. To do this, I use the append() function, like this:
            <code>myList.append('kuda')</code> and the result is:
            <code>['python', 'java','c sharp', 'ruby', 'perl', 'kuda']</code><br>
            But, let's say I want 'kuda' at the beginning of my list.
            To do this, append() won't help me. Instead, I'll have to use the insert() method.
            insert() takes two arguments. the index where you want the new element to go, and then the element
            you want to add, like this!<br><br>
            <code>myList.insert(0,'kuda')</code>
            This tells my Python program to add kuda to myList at index 0. The result is:
            <code>['kuda','python', 'java','c sharp', 'ruby', 'perl']</code><br><br>
            'kuda' is at index 0, and all other elements have been moved to the right(each element's index
            has been increased by 1)<br>
            Notice that I don't have to tell Python to make myList bigger to make room for the new element
            'kuda' that I'm adding. It knows to do this and takes care of it automatically.
            If I want to remove an element I use the function remove(). remove() takes one argument,
            the element that you want to take out of the list. So, if I want to remove 'java' I'd write
            <code>myList.remove('java')</code>
            then if I call <code>print(myList)</code> this would be printed to the console:
            <code>['kuda', 'C++', 'python', 'ruby', 'perl']</code>
            Another handy function is the sort() function. If I call <code>myList.sort()</code>, this will sort the elements of
            myList into abc order.
            Also, <code>myList.reverse()</code> is used to flip a list, like this!
            {% call utils.code('python') %}
            myList = ['python', 'java','c sharp', 'ruby', 'perl']
            >>>myList.sort()
            ['c sharp', 'java','perl', 'python', 'ruby']
            >>>print(myList)
            ['c sharp', 'java', 'perl', 'python', 'ruby']
            >>>myList.reverse()
            ['ruby', 'python', 'perl', 'java', 'c sharp']
            {% endcall %}


        </p>
    {% endcall %}

    {% call section('if statements', 'If statements') %}
        <h2>If Statements</h2>
        <p>
            In Python, there are times when we only what lines of code to execute some of the time -- not all the time.
            To control when lines of code run, we can use if statements. Let's look at some code to see how these if statements work!
        </p>
        <p>
            {% call utils.code('python') %}
            myList = ['bills','dolphins','jets','patriots']
            if (len(myList) == 4):
                print('This list has four elements')
            else:
                print('hello, world')
            Output >>> This list has four elements
            {% endcall %}
            So, why does the first statement get printed, but not the second statement? Well, the first if statement evaluates
            to true, since myList does have a length of 4. Then, the code skips the else branch, since that branch only gets
            read if the if statement evaluates to false.
        </p>
        <br>
        <p>
            Let's look at another example
            {% call utils.code('python') %}
            myList = ['bills','dolphins','jets','patriots']
            if myList[3] == 'bills':
                print('bills are last')
            elif myList[3] == 'dolphins':
                print('dolphins are last')
            elif myList[3] == 'jets':
                print('jets are last')
            else:
                print('patriots are last')
            Output >>> patriots are last
            {% endcall %}
            Why? This time, all of the if statements evaulate to false. So, none of the code in the if statements are executed.
            Instead, the else statement is executed.
        </p>

    {% endcall %}

    {% call section('For loops', 'For loops') %}
        <h2>For Loops</h2>
        <p>
            Sometimes we want to iterate over, or read each element in a list. To accomplish that, we use for loops, like this!
        {% call utils.code('python') %}
            myList = ['python', 'java','c sharp', 'ruby', 'perl']
            for x in range(0,len(myList)):
                print(myList[x])
            >>> python
            >>> java
            >>> c sharp
            >>> ruby
            >>> perl
        {% endcall %}
        Here, the elements of myList get printed out, one at a time. This is because when we enter the loop we start with
            <code>x = 0</code>, so we <code>print(myList[0])</code>. Then we re-enter the loop. This time <code>x=1</code> so we print <code>myList[1]</code>
            <br>
            This process keeps going until x = 5. x is no longer in the range we specified!
            <br><br>
            NOTE: in Python, the x in range loop
            is NOT inclusive. So, <code>for x in range (0,2)</code> will loop twice, when x is assigned to 0 and again when x is assigned
            to 1. <code>x=2</code> would not meet our loop conditions, so we would exit the loop. Along the same lines, <code>len(myList) == 5</code>
            so when <code>x=5</code> we exit the loop

    {% endcall %}

    {# TODO: Modularize #}
    {% call section('quiz', 'Quiz') %}
        <h2>Start Game!</h2>

        <input type="button" id="startButton" name="answer" value="Start" onclick="showDiv()" />

        <div id="showQuestions">

            <p class="question">1. What is the type of the variable x in the following code?<br> x = 7 </p>

            <ul class="answers">
                <input type="radio" name="q1" value="a" id="q1a"><label for="q1a">Int</label><br />
                <input type="radio" name="q1" value="b" id="q1b"><label for="q1b">Bool</label><br />
                <input type="radio" name="q1" value="c" id="q1c"><label for="q1c">String</label><br />
                <input type="radio" name="q1" value="d" id="q1d"><label for="q1d">None</label><br />
            </ul>


            <p class="question">2. What is the value of y in the following code?<br> x = True<br> z = False<br> y = x or z
            </p>

            <ul class="answers">
                <input type="radio" name="q2" value="a" id="q2a"><label for="q2a">Int</label><br />
                <input type="radio" name="q2" value="b" id="q2b"><label for="q2b">Bool</label><br />
                <input type="radio" name="q2" value="c" id="q2c"><label for="q2c">String</label><br />
                <input type="radio" name="q2" value="d" id="q2d"><label for="q2d">None</label><br />
            </ul>

            <p class="question">3. What is the output of the following code?<br> x = "Python"<br> y = x[2]<br> print(y)
                <br></p>

            <ul class="answers">
                <input type="radio" name="q3" value="a" id="q3a"><label for="q3a">'P'</label><br />
                <input type="radio" name="q3" value="b" id="q3b"><label for="q3b">'y'</label><br />
                <input type="radio" name="q3" value="c" id="q3c"><label for="q3c">'t'</label><br />
                <input type="radio" name="q3" value="d" id="q3d"><label for="q3d">'h'</label><br />
            </ul>

            <p class="question">4. How about this code...What will it print?<br> a = "Java" b = a[-4]<br> print(b)
                <br></p>

            <ul class="answers">
                <input type="radio" name="q4" value="a" id="q4a"><label for="q4a">'v'</label><br />
                <input type="radio" name="q4" value="b" id="q4b"><label for="q4b">''</label><br />
                <input type="radio" name="q4" value="c" id="q4c"><label for="q4c">'a'</label><br />
                <input type="radio" name="q4" value="d" id="q4d"><label for="q4d">'J'</label><br />
            </ul>

            <p class="question">5. In the code below, what is the type of variable z?<br> x = 35<br> y = 5<br> z = x * y
            </p>

            <ul class="answers">
                <input type="radio" name="q5" value="a" id="q5a"><label for="q5a">Int</label><br />
                <input type="radio" name="q5" value="b" id="q5b"><label for="q5b">Float</label><br />
                <input type="radio" name="q5" value="c" id="q5c"><label for="q5c">String</label><br />
                <input type="radio" name="q5" value="d" id="q5d"><label for="q5d">Bool</label><br />
            </ul>

            <p class="question">6. How about now...what is the type of variable z?<br> x = 35<br> y = 5<br> z = x/y
            </p>

            <ul class="answers">
                <input type="radio" name="q6" value="a" id="q6a"><label for="q6a">Int</label><br />
                <input type="radio" name="q6" value="b" id="q6b"><label for="q6b">Float</label><br />
                <input type="radio" name="q6" value="c" id="q6c"><label for="q6c">String</label><br />
                <input type="radio" name="q6" value="d" id="q6d"><label for="q6d">Bool</label><br />
            </ul>

            <p class="question">7. Which of the following is a legal variable name?</p>

            <ul class="answers">
                <input type="radio" name="q7" value="a" id="q7a"><label for="q7a">in</label><br />
                <input type="radio" name="q7" value="b" id="q7b"><label for="q7b">for</label><br />
                <input type="radio" name="q7" value="c" id="q7c"><label for="q7c">python</label><br />
                <input type="radio" name="q7" value="d" id="q7d"><label for="q7d">while</label><br />
            </ul>

            <p class="question">8. What are the values of a and b, based on the code below?<br> x = 27<br> y = 7<br> a = x//y<br> b = x % y
            </p>

            <ul class="answers">
                <input type="radio" name="q8" value="a" id="q8a"><label for="q8a">a is 0, b is 4</label><br />
                <input type="radio" name="q8" value="b" id="q8b"><label for="q8b">a is 4, b is 0</label><br />
                <input type="radio" name="q8" value="c" id="q8c"><label for="q8c">a is 6, b is 3</label><br />
                <input type="radio" name="q8" value="d" id="q8d"><label for="q8d">a is 3, b is 6</label><br />
            </ul>

            <p class="question">9. What is the result of the following code?<br> s = 25<br> p = 5<br> t = s/(p*p)<br> print(t)
            </p>

            <ul class="answers">
                <input type="radio" name="q9" value="a" id="q9a"><label for="q9a">1.0</label><br />
                <input type="radio" name="q9" value="b" id="q9b"><label for="q9b">25.0</label><br />
                <input type="radio" name="q9" value="c" id="q9c"><label for="q9c">1</label><br />
                <input type="radio" name="q9" value="d" id="q9d"><label for="q9d">25</label><br />
            </ul>

            <p class="question">10. Now, this code has been slightly changed -- what is the result?<br> s = 25<br> p = 5<br> t = (s/p)*p
            </p>

            <ul class="answers">
                <input type="radio" name="q10" value="a" id="q10a"><label for="q10a">1.0</label><br />
                <input type="radio" name="q10" value="b" id="q10b"><label for="q10b">25.0</label><br />
                <input type="radio" name="q10" value="c" id="q10c"><label for="q10c">1</label><br />
                <input type="radio" name="q10" value="d" id="q10d"><label for="q10d">25</label><br />
            </ul>

            <br />
            <div id="results">
                Show me the answers!
            </div>
        </div>


        <div id="category1">
            <p>
                <strong>Question 1:</strong> The correct answer is the <strong>Answer 1</strong>.</p>
        </div>

        <div id="category2">
            <p>
                <strong>Question 2:</strong> The correct answer is <strong>Answer 2</strong>.</p>
        </div>

        <div id="category3">
            <p>
                <strong>Question 3:</strong> The correct answer is <strong>Answer 3</strong>.</p>
        </div>

        <div id="category4">
            <p>
                <strong>Question 4:</strong> The correct answer is <strong>Answer 4</strong>.</p>
        </div>

        <div id="category5">
            <p>
                <strong>Question 5:</strong> The correct answer is <strong>Answer 1</strong>.</p>
        </div>

        <div id="category6">
            <p>
                <strong>Question 6:</strong> The correct answer is <strong>Answer 2</strong>.</p>
        </div>

        <div id="category7">
            <p>
                <strong>Question 7:</strong> The correct answer is <strong>Answer 3</strong>.</p>
        </div>

        <div id="category8">
            <p>
                <strong>Question 8:</strong> The correct answer is <strong>Answer 4</strong>.</p>
        </div>

        <div id="category9">
            <p>
                <strong>Question 9:</strong> The correct answer is <strong>Answer 1</strong>.</p>
        </div>

        <div id="category10">
            <p>
                <strong>Question 10:</strong> The correct answer is <strong>Answer 2</strong>.</p>
        </div>
        <!-- print for score and time -->
        <p id="score"></p>
        <!-- TODO: link headership board -->
        <p id="compare"></p>


        <div id="category11">
            <p>
                You answered them all right!
            </p>
        </div>
    {% endcall %}
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script src="{{ url_for('static', filename='js/assignments/jquery.js') }}"></script> {# TODO: Migrate to modern jQuery #}
    <script src="{{ url_for('static', filename='js/assignments/quiz-1.js') }}"></script> {# TODO: Modularize #}
{% endblock %}
