{% extends "layout/default.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to CGames</h1>
        <p class="lead">
            A place to learn how to code Python that feels like playing a game.
        </p>
        <hr class="my-4">
        <p>
            <a href="{{ url_for('assignment_page', n=1) }}" class="btn btn-primary" role="button">Get started</a>
        </p>
    </div>
    <section id="beta" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2>Beta Release</h2>
            <p>
              CGames is now in beta!! Help us out by submitting any issues
              to our github issues page here!
            </p>
            <p>
              <a href="https://github.com/briankarUB/CGames/issues"  role="button">Github Issues</a>
            </p>
          </div>
        </div>
      </section>
    <section id="learn" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <br>
            <h2>What is CGames</h2>
            <p>
              Learning to code is something many people want to do nowadays.
              However, reading through pages of documentation can be a bit
              intimidating and boring. CGames is here to help. CGames' goal
              is to teach first time coding students in Python3 with short
              lessons, fun activities and a leaderboard to track progress.
            </p>
            <br>
          </div>
        </div>
      </div>
    </section>
    <section id="learn2" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <br>
            <h2>What We Teach</h2>
            <p>
              The CGames lessons cover basic coding conventions, pythons built in
              functionality and much more!
            </p>
            <br>
          </div>
        </div>
      </div>
    </section>
    <section id="learn3" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2>How We Teach It</h2>
            <p>
              CGames uses short lessons to teach and activities to reinforce the
              ideas.
            </p>
          </div>
        </div>
      </section>
      <section id="learn4" class="bg-light">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 mx-auto">
              <br>
              <h2>Why Choose Us</h2>
              <p>
                CGames uses the same information that most python
                tutorials have, so why would a user want to use our service? First we
                believe that short lessons are key to make users feel acomplished.
                Then, paired with fun activities, the user can truely understand
                what their code does. The Leaderboard makes the site competitive,
                creating a challange for a user to do well and seeing their progress
                compared to other users.
              </p>
              <br>
            </div>
          </div>
        </div>
      </section>
      <section id="learn3" class="bg-light">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 mx-auto">
              <h2>How To Get Started</h2>
              <p>
                To start lesson one, just click the get started button at the
                top of the page or below. Enjoy your first CGames lessons
              </p>
              <p>
                  <a href="{{ url_for('assignment_page', n=1) }}" class="btn btn-primary" role="button">Get started</a>
              </p>
            </div>
          </div>
        </section>


  </div>
    </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0  text-white">Copyright &copy; CGames 2018</p>
      </div>
      <br>
      <div class="container">
        <p>
          <a href="https://github.com/briankarUB/CGames"  role="button">Github</a>
        </p>
        <p>
          <a href="https://gitter.im/CGames_CSE442/Lobby"  role="button">Chat On Gitter</a>
        </p>

      <!-- /.container -->
    </footer>


{% endblock %}
