{% extends "layout/default.html" %}
{% block title %}Leaderboard{% endblock %}
{% block navbar_items %}
<div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">
  </ul>
</div>

{% endblock %}

{% block content %}
    <h1>This is the CGames leaderboard page!</h1>
    <table border="2" cellspacing="5" cellpadding="5">
        <tr>
            <th>Username</th>
            <th>Score</th>
        </tr>
        {% for name, scores in leaderboard.items() %}
        <tr>
        <td>{{ name }}</td>
        <td>{{ scores.values() | sum }}</td>
      </tr>
      {% endfor %}

    </table>
{% endblock %}
