{% extends "layout/default.html" %}
{% block title %}Leaderboard{% endblock %}
{% block navbar_items %}
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        </ul>
    </div>
{% endblock %}

{% block content %}
    <h1>This is the CGames leaderboard page!</h1>
    <div class="mx-auto w-50 p-3">
        <table class="table table-primary" border="4" cellspacing="5" cellpadding="5">
            <thead class="thead-success" align="center">
                <tr>
                    <th>Username</th>
                    <th>Score</th>
                </tr>
            </thead>

            <tbody align="center">
                {% for name, score in leaderboard_items %}
                    <tr>
                        <td>{{ name }}</td>
                        <td>{{ score }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
