<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />

            <title>{% block title %}{% endblock %} - CGames</title>

            <!-- Stylesheets -->
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
            <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">

            <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
            <![endif]-->
        {% endblock %}
    </head>

    <body>
        {% block nav %}
            <nav class="light-blue lighten-1" role="navigation">
                <div class="nav-wrapper container">
                    <a href="{{ url_for('index') }}" class="brand-logo">Home</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        {% block nav_right %}
                            <li>
                                <a href="{{ url_for('sign_in') }}">Sign in with Google</a>
                            </li>
                        {% endblock %}
                    </ul>
                </div>
            </nav>
        {% endblock %}

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <footer class="page-footer blue darken-1">
            {% block footer %}
                <div class="container">
                    <div class="row">
                        <div class="col l6 s12">
                            <h5 class="white-text">CGames</h5>
                            <a class="grey-text text-lighten-1" href="https://github.com/briankarUB/CGames">GitHub: CGames</a>
                        </div>
                        <div class="col l3 s12">
                            <h5 class="white-text">Connect</h5>
                            <ul>
                                <li>
                                    <a class="white-text" href="#">Link 1</a>
                                </li>
                                <li>
                                    <a class="white-text" href="#">Link 2</a>
                                </li>
                                <li>
                                    <a class="white-text" href="#">Link 3</a>
                                </li>
                                <li>
                                    <a class="white-text" href="#">Link 4</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col l3 s12">
                            <h5 class="white-text">Questions?</h5>
                            <ul>
                                <li>
                                    <a class="white-text" href="https://gitter.im/CGames_CSE442/Lobby">Chat with us on Gitter</a>
                                </li>
                                <li>
                                    <a class="white-text" href="#">Link 2</a>
                                </li>
                                <li>
                                    <a class="white-text" href="#">Link 3</a>
                                </li>
                                <li>
                                    <a class="white-text" href="#">Link 4</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="container">
                        Copyright &copy; CGames 2018
                    </div>
                </div>
            {% endblock %}
        </footer>

        <!-- Scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script src="{{ url_for('static', filename='js/init.js') }}"></script>
    </body>
</html>
