{% extends "layout/default.html" %}
{% set sections = [] %}  {# For keeping track of scrollspy navigation #}

{# Makes a formatted section and adds it to scrollspy #}
{% macro section(name) %}
    {% do sections.append(name) %}

    {# Change the background of even-numbered sections, where the first is 1 #}
    {% if sections | length is divisibleby 2 %}
        {% set section_class = "bg-light" %}
    {% endif %}

    {# Surround passed-in markup with boilerplate section markup #}
    <section {{ 'class=' ~ section_class if section_class }} id="{{ name }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    {{- caller() }}
                </div>
            </div>
        </div>
    </section>
{% endmacro %}

{% macro question(text) %}
    <p class="question">{{ text }}</p>
    <ul class="answers">
        {% for answer, correct in answers %}
            <li>
                <input type="radio">
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
